/* Ocultar elementos por defecto */
.navbar,
#imagen {
    display: none;
}

#resultado,
#addForm,
#editFormAlumno {
    display: none;
}

/* Estilo para el contenedor de inicio de sesión */
#loginDiv {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fc7bf2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#loginDiv label {
    display: block;
    margin-bottom: 5px;
}

#loginDiv input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#loginDiv button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* NOTA: Cursor apuntador al pasar sobre el botón */
}

#loginDiv button:hover {
    background-color: #d690d2;
}

/* Estilo para el cuerpo HTML en general */
body {
    background-image: url('../img/galaxia2.jpg');
    background-size: cover;
    background-position: center;
}